{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title|default('Downloads') }}
{% endblock %}

{% block headtags %}
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#errors").html() == '') {
                $("#errors").hide();
            }
        });
    </script>
{% endblock %}

{% block contentbody %}
    {{ parent() }}
    {{ body_content }}

    {% for a in articles %}
        <div class="productBox">
            <h2>
                <a href="{{ path_url_postfix }}/a/{{ a.url }}/">{{ a.title }}</a>
            </h2>
            <p>
                <a href="{{ path_url_postfix }}/a/{{ a.url }}/">{{ a.subtitle|slice(0, 280) }}</a>
                <a class="pure-button details-right" href="{{ path_url_postfix }}/a/{{ a.url }}/">Details</a>
            </p>
            <p>
                <a href="{{ path_url_postfix }}/a/{{ a.url }}/">{{ a.date_inserted }}</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}

