{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title | default('Signup') }}
{% endblock %}

{% block headtags %}
<link href="{{ path_url }}/vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>

<script src="{{ path_url }}{{ user_var.project_static }}/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{ path_url }}/vendor/components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#errors").hide();
        var maxYear = new Date('Y');
        $('#birthdate').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '1900:'+ maxYear,
            minDate: "-100y",
            maxDate: "+0y",
            showAnim: "slideDown"
        });

        $("#signupform").validate({
            ignore: ".ignore",
            groups: {
                agree: "agree"
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "agree") {
                    error.insertAfter("#agree-label");
                } else {
                    error.insertAfter(element);
                }
            },
            rules:{
                name:{ required: true , maxlength: 100 },
                email:{ required: true, email: true , maxlength: 50},
                password:{ required: true, maxlength: 20},
                rpass:{ required: true, maxlength: 20, equalTo: "#password" },
                gender:{ required: true },
                birthdate:{ required: true },
                agree: { required: true },
                "hiddenRecaptcha": {
                    required: function() {
                        if(grecaptcha.getResponse() == '') {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            },
            messages:{
                name: {
                    required: "Enter full name.",
                    maxlength: "Name can't be longer than 100 characters."
                },
                email: {
                    required: "Enter valid email.",
                    email: "Please enter a valid email.",
                    maxlength: "Email can't be longer than 50 characters."
                },
                password: {
                    required: "Password minimum 5 characters.",
                    maxlength: "Password can't be longer than 20 characters."
                },
                rpass: {
                    required: "Enter password again.",
                    equalTo: "Password don't match."
                },
                gender: "Please select gender.",
                birthdate: {
                    required: "Select birth date."
                },
                agree: "Accept terms and conditions.",
                "hiddenRecaptcha": "The captcha was not validated."
            }
        });
    });
</script>
{% endblock %}

{% block contentbody %}
    {#
    {{ parent() }}
    #}

    <div class="col-6 mx-auto">
        <div class="text-center">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4"><strong>Sign up</strong></h5>
                <div class="card-body px-lg-5 pt-0">
                    <form class="text-center" style="color: #757575;"  id="signupform" method="post" action="{{ path_url_postfix }}/login">
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input id="name" type="text" placeholder="Name" name="name" class="form-control" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input id="email" type="email" placeholder="Email" name="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="md-form mt-0">
                            <input id="password" type="password" placeholder="Password" name="password" class="form-control" />
                        </div>
                        <div class="md-form">
                            <input id="rpass" type="password" placeholder="Re-type Password" name="rpass" class="form-control" />
                        </div>
                        <div class="md-form">
                            <input id="birthdate" type="text" placeholder="Birthdate" name="birthdate" class="form-control" />
                        </div>
                        <div class="md-form">
                            <select id="gender" name="gender" class="form-control">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="md-form">
                            <div class="g-recaptcha" data-sitekey="6LfKDw8UAAAAAHb6omMkGKhxXFNuo3SpgtGivhr3" style="float: left; margin: 5px;"></div>
                            <input id="hiddenRecaptcha" type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" class="form-control" />
                        </div>
                        <div class="form-check">
                            <label for="agree" class="form-control" id="agree-label" style="display: block;  clear: both;">
                                <input id="agree" type="checkbox" name="agree" value="1" class="form-control"> I've read the <a href='{{ path_url_postfix }}/a/policies'>Terms Of Use</a>
                            </label>
                        </div>

                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign Up</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
