{% extends path_user_template ~ '/home.twig' %}

{% block title %}{% spaceless %}
    {% if action == "edit" %}
        {{ page_title|default('Edit Article') }}
    {% else %}
        {{ page_title|default('Add Article') }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block headtags %}
    <script src="{{ path_url }}{{ user_var.project_static }}/jquery.validate.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ path_url }}{{ user_var.project_static }}/simplemde.min.css">
    <script src="{{ path_url }}{{ user_var.project_static }}/simplemde.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#errors").html() == '') {
                $("#errors").hide();
            }

            var simplemde = new SimpleMDE({ element: $("#editorbody")[0] });

            $('.mediaitem a').click(function () {
                var str = $(this).attr("href");
                if ($(this).attr("data-download") == 'false') {
                    simplemde.value(simplemde.value() + "![image](" + str + ")");
                }
                else {
                    simplemde.value(simplemde.value() + "[" + str + "](" + str + ")");
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block contentbody %}
    {% if session.get('user_info').utype == 1 %}
    {{ parent() }}
    {{ body_content }}
    <form id="publish" class="z-depth-1 p-4 container-fluid" method="post" action="{{ path_url_postfix }}/article/list">
        <fieldset class="md-form">
            {% if action == "edit" %}
                <legend>Edit Article</legend>
                <input type="hidden" value="{{ article.id }}" name="editval"/>
            {% else %}
                <legend>Add New Article</legend>
            {% endif %}
            <input type="text" class="form-control" placeholder="Title" value="{{ article.title }}" name="title"/>
            <input type="text" class="form-control" placeholder="Subtitle" value="{{ article.subtitle }}"
                   name="subtitle"/>
        </fieldset>
        <fieldset class="md-form">
            <input type="text" class="form-control" placeholder="Url" value="{{ article.url }}" name="aurl"/>
            <select class="form-control" name="category">
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if article.category_id == cat.id %}selected{% endif %}>{{ cat.catname }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset class="md-form">
            <textarea class="form-control" placeholder="Content" id="editorbody" rows="40" name="abody">{{ article.body |trim }}</textarea>
        </fieldset>
        <fieldset class="md-form">
            <input type="text" class="form-control" placeholder="state 0/1" value="{{ article.state }}" name="state"/>
        </fieldset>
        <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
    </form>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#publish").validate({
            rules: {
                title: {required: true, maxlength: 100},
                aurl: {required: true, maxlength: 50},
                category: {required: true},
                abody: {required: true, maxlength: 65000}
            },
            messages: {
                title: {
                    required: "Enter title.",
                    maxlength: "Can't be longer than 100 characters."
                },
                aurl: {
                    required: "Enter url.",
                    maxlength: "Can't be longer than 50 characters."
                },
                category: {
                    required: "Category required."
                },
                abody: {
                    required: "Enter article body.",
                    maxlength: "Article can't be longer than 65000 characters."
                }
            }
        });
    });
    </script>

    {% if files %}
        <div class="row">
            {% for a in files %}
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 d-flex align-items-stretch mediaitem">
                    <div class="card">
                        <img class="card-img-top" src="{{ path_static }}images/fileicons/{{ a.ftype }}.png">
                        <div class="card-body">
                            <p class="card-text"><a href="{{ path_url_postfix }}/file/view/{{ a.name }}/">{{ a.name|slice(0, 20) }}</a></p>
                            {% if a.ftype == 'png' or a.ftype == 'jpg' or a.ftype == 'gif' %}
                                <a class="btn btn-primary" data-download="false"
                                   href="{{ path_url_postfix }}/file/view/{{ a.name }}/">Add to article</a>
                            {% else %}
                                <a class="btn btn-primary" data-download="true"
                                   href="{{ path_url_postfix }}/file/download/{{ a.name }}/">Add to article</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endif %}
{% endblock %}

