{% extends path_user_template ~ '/home.twig' %}

{% block title %}{% spaceless %}
    {{ page_title|default('Start') }}
{% endspaceless %}{% endblock %}

{% block headtags %}
    <script type="text/javascript">
        var url_path = '{{ path_url }}';

        function rewriteUrl(url) {
            if (url.indexOf("http") < 0) {
                url = url_path + '/' + url;
            }
            return url;
        }

        $(document).ready(function () {
            if ($("#errors").html() == '') {
                $("#errors").hide();
            }
            $('img').each(function () {
                var url = rewriteUrl($(this).attr('src'));
                $(this).attr("src", url);
            });
        });
    </script>
{% endblock %}
{% block contentbody %}
    {% if articles %}
<div id="home_slides" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for a in articles %}
            {% if loop.first %}
                <li data-target="#home_slides" data-slide-to="{{ loop.index }}" class="unique-color active"></li>
            {% else %}
                <li data-target="#home_slides" data-slide-to="{{ loop.index }}" class="unique-color"></li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for a in articles %}
        {% if loop.first %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
                {% endif %}
                <div class="slide_content container">
                    <div class="row single_content">
                        {{ a.body|raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <a class="carousel-control-prev" href="#home_slides" role="button" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#home_slides" role="button" data-slide="next">
                <span class="fa fa-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
    {% endblock %}
