{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title|default('User home') }}
{% endblock %}

{% block headtags %}
    <script src="{{ path_url }}{{ user_var.project_static }}/bxslider/jquery.bxslider.min.js"
            type="text/javascript"></script>
    <link href="{{ path_url }}{{ user_var.project_static }}/bxslider/jquery.bxslider.css" rel="stylesheet"
          type="text/css" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#errors").html() == '') {
                $("#errors").hide();
            }

        });
    </script>
{% endblock %}

{% block contentbody %}
    {% if articles %}
        <ul class="bxslider">
        {% for a in articles %}
            <li>
                <h2 class="title">
                    {{ a.title }}
                </h2>
                <div class="subtitle">{{ a.subtitle }}</div>
                <div class="body">{{ a.body|raw }}</div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

