{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title|default('User home') }}
{% endblock %}

{% block headtags %}
    <script src="{{ path_url }}{{ user_var.project_static }}/bxslider/jquery.bxslider.min.js"
            type="text/javascript"></script>
    <link href="{{ path_url }}{{ user_var.project_static }}/bxslider/jquery.bxslider.css" rel="stylesheet"
          type="text/css" media="screen"/>

    <script type="text/javascript">
        var url_path = '{{ path_url }}';

        function rewriteUrl(url) {
            if(url.indexOf("http") < 0) {
                url = url_path + '/' + url;
            }
            return url;
        }

        $(document).ready(function () {
            if ($("#errors").html() == '') {
                $("#errors").hide();
            }

            $('img').each(function () {
                var url = rewriteUrl($(this).attr('src'));
                $(this).attr("src", url);
            });

            $('.product_gallery').bxSlider({
                adaptiveHeight: true,
                auto: true,
                autoControls: true,
                slideMargin: 10,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}

{% block contentbody %}
    {% if articles %}
        <div class="product_gallery">
        {% for a in articles %}
            <div class="row collapse slide-pane">
                <h2 class="title">
                    {{ a.title }}
                </h2>
                <div class="subtitle">{{ a.subtitle }}</div>
                <div class="body">{{ a.body|raw }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

