{% extends path_sys_template %}
{% block title %}
    {{ page_title|default('Home') }}
{% endblock %}
{% block contentheader %}
    <div id="banner">
        <a href="{{ path_url_postfix }}/">
            <img src="{{ path_static }}images/logo.gif" alt="www.articulatelogic.com" id="logo"/>
        </a>
        <div id="navigatemenu">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{{ path_url_postfix }}/home" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{{ path_url_postfix }}/downloads" class="pure-menu-link">Products</a>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children">
                        <a href="#" class="pure-menu-link">Services</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/services" class="pure-menu-link">Software Services</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/solutions" class="pure-menu-link">Software Solutions</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/research" class="pure-menu-link">Research & Development</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/webmarketing" class="pure-menu-link">Web Marketing</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/methodology" class="pure-menu-link">Methodology</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/consultancy" class="pure-menu-link">Consultancy</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children">
                        <a href="#" class="pure-menu-link">About</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/contact" class="pure-menu-link">Contact Us</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ path_url_postfix }}/a/about" class="pure-menu-link">About Us</a>
                            </li>
                        </ul>
                    </li>
                    {% if session.get('user_info').utype == 1 %}
                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                            <a href="{{ path_url_postfix }}/home" class="pure-menu-link">Admin Menu</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item">
                                    <a href="{{ path_url_postfix }}/user/list" class="pure-menu-link">Manage Users</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="{{ path_url_postfix }}/article/list" class="pure-menu-link">Manage Articles</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="{{ path_url_postfix }}/category/list" class="pure-menu-link">Manage Categories</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="{{ path_url_postfix }}/files/list" class="pure-menu-link">Manage Files</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="topright">
            {% if session.get('is_authenticated') %}
            <a class="pure-button pure-button-primary" href="{{ path_url_postfix }}/home">
                {% if session.get('user_info').firstname %}
                {{ session.get('user_info').firstname }}'s
                {% else %}
                User
                {% endif %}
                Home
            </a>
            <a href="{{ path_url_postfix }}/logout">Logout</a>
            {% else %}
            <a class="pure-button pure-button-primary" href="{{ path_url_postfix }}/login">Login</a>
            <a class="pure-button pure-button-primary" href="{{ path_url_postfix }}/signup">Signup</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block contentbody %}
    {% if content_message %}
        <div id="reports">{{ content_message }}</div>
    {% endif %}
    {{ parent() }}
    {{ body_content }}
    {% autoescape false %}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-10149323-1");
                pageTracker._trackPageview();
            } catch (err) {
            }</script>
    {% endautoescape %}
{% endblock %}
{% block footers %}
    <p>
        &copy; 2009 - {{ "now"|date("Y") }} <a href="mailto:aazhbd@yahoo.com">AAZ H</a> | <a href="http://www.articulatelogic.com/">ArticulateLogic.com</a>
        | <a href="{{ path_url_postfix }}/a/career">Join Our Team</a>
        | <a href="{{ path_url_postfix }}/a/policies">Terms Of Use</a>
        | <a href="{{ path_url_postfix }}/downloads">Downloads</a>
    </p>
{% endblock %}
{#
 * An open source web application development framework for PHP 5.
 * @author        ArticulateLogic Labs
 * @author        Abdullah Al Zakir Hossain, Email: aazhbd@yahoo.com
 * @copyright     Copyright (c)2009-2014 ArticulateLogic Labs
 * @license       MIT License
 #}
